:root {
    font-family: "NotoSans-Normal", sans-serif;
    font-style: normal;
    font-weight: normal;
    --colorwhite: ghostwhite;
    --colorblack: #0f0e10;
    --minscale: 2rem;
    --fontsize: 1.5rem
}

@media screen and (orientation: portrait) {
    :root {
        --minscale: 4rem;
        --fontsize: 3rem;
    }

    article {
        display: flex;
        flex: 1;
        flex-direction: column;
        align-items: start;
        justify-content: space-between;
        gap: 6rem;
    }

    aside {
        display: none;
    }
}

@media screen and (orientation: landscape) {
    .content, aside {
        display: flex;
        flex: 1;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: space-evenly;
    }

    article {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(max(300px, 24vw), 1fr));
        grid-auto-flow: row;
        align-items: start;
        justify-content: start;
        flex: 3;
        gap: 4vw;
    }

    .refgroup {
        display: none;
    }
}

html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

main {
    padding: 4vw;
    gap: 4vw;
}

body {
    background-color: var(--colorblack);
    color: var(--colorwhite);
    padding: 1%;
}

header, h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: inherit;
}

h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: inherit;
    height: 4vw;
    max-height: 2rem;
    min-width: calc(4 * var(--minscale));
    font-size: calc(1.4 * var(--fontsize));
}

.instaheader {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: inherit;
    height: 4vw;
    max-height: 2rem;
    min-width: calc(4 * var(--minscale));
    font-size: calc(1.2 * var(--fontsize));
    gap: calc(0.5 * var(--minscale));
}

.banner {
    width: calc(8 * var(--minscale) + 25vw);
    max-width: 100vw;
}

.navgroup {
    padding: 4vw;
}

.menugroup, .navgroup {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 4vw;
}

a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: var(--colorwhite);
    font-size: inherit;
}

.menuitem, .menuitemAlt {
    flex: 1;
    height: 100%;
    border: calc(1px + 0.2vw) solid;
    border-radius: calc(1px + 0.2vw);
    text-align: center;
    text-decoration: none;
    transition: all 0.3s ease-out;
}

.menuitem {
    background-color: var(--colorblack);
    color: var(--colorwhite);
}

.menuitemAlt, .menuitem:hover, .menuitem:focus, .menuitem:active {
    background-color: var(--colorwhite);
    color: var(--colorblack);
}

.instaref {
    display: flex;
    padding-top: 2vw;
    align-items: center;
    justify-content: center;
}

.icon {
    width: calc(1.25 * var(--minscale));
    height: calc(1.25 * var(--minscale));
}

.kontaktheader {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: inherit;
    font-size: calc(1.2 * var(--fontsize));
    margin-top: 0;
    text-align: center;
}

.kontakttext {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: var(--fontsize);
    text-align: center;
    margin: 1rem;
    width: 100%;
}

.kontakt {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.infoBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.infoText {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: var(--fontsize);
    text-align: center;
    margin-bottom: 1rem;
    margin-top: 0;
    width: 100%;
}

aside {
    gap: 2vw;
    min-width: 26.6vw;
}

.flyer {
    width: 100%;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    color: inherit;
}

span {
    padding: 0 0.5rem;
    font-size: calc(0.75 * var(--fontsize));
}

.gitlogo {
    height: var(--fontsize)
}