:root {
    --colorwhite: ghostwhite;
    --colorblack: #0f0e10;
    --minscale: 2rem;
}

@media screen and (orientation: portrait) {
    :root {
        --minscale: 4rem;
    }
}


@me {
    .flyer {
        max-width: calc(400 + 20vw);
    }
}

html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    background-color: var(--colorblack);
    color: var(--colorwhite);
    padding: 1%;
}

header, h1, h2 {
    display: flex;
    align-items: center;
    justify-content: center;
}

h2 {
    font-size: calc(0.5 * var(--minscale) + 1vw);
    height: 4vw;
    max-height: 2rem;
    min-width: calc(4 * var(--minscale));
}

.banner {
    max-width: calc(256px + 25vw);
    max-height: calc(256px + 25vh);
    flex: 1;
}

nav {
    padding: 4vw;
}

nav, .menugroup {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 4vw;
}

a {
    text-decoration: none;
}

.menuitem {
    flex: 1;
    height: 100%;
    color: var(--colorwhite);
    border: calc(1px + 0.2vw) solid;
    border-radius: calc(1px + 0.2vw);
    text-align: center;
    text-decoration: none;
    transition: all 0.3s ease-out;
}

.menuitem:hover, .menuitem:focus, .menuitem:active {
    background-color: var(--colorwhite);
    color: var(--colorblack);
}

main, article, aside {
    padding: 2vw;
    gap: 2vw;
    display: flex;
    flex: 2;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-evenly;
}

article {
    flex: 3;
}

.flyer {
    width: 100%;
    max-width: 32rem;
}